<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%= search %>
    <form>
        <div>

            <input type="text" style='width: 500px;' name='s' value="<%- search %>" />
            <button>搜索xxxxxxxxxx</button>
        </div>
    </form>
</body>

</html>