<ul class="rank_col" style="width:230px;">
        <li class="rank_title">品牌销售额排行</li>
        <%for(var h=0;h<brandSale.length;h++){
            className = '';
            switch(h){
                case 0:
                    className = 'first_no';
                break;
                case 1:
                    className = 'second_no';
                break;
                case 2:
                    className = 'third_no';
                break;
                default:
                    className = '';
            }
        %>
        <li><span class="no <%=className%>"><%if(!className){%><%=h+1%><%}%></span>
            <div class="goods_name"><span><%=brandSale[h].brand%></span></div>
        </li>
       <%}%>
    </ul>
<ul class="rank_col " style=" width: 230px;;margin-left: 60px;">
        <li class="rank_title">品牌销量排行</li>
        <%for(var h=0;h<brandQty.length;h++){
            className = '';
            switch(h){
                case 0:
                className = 'first_no';
                break;
                case 1:
                className = 'second_no';
                break;
                case 2:
                className = 'third_no';
                break;
                default:
                className = '';
        }
        %>
        <li><span class="no <%=className%>"><%if(!className){%><%=h+1%><%}%></span>
            <div class="goods_name"><span><%=brandQty[h].brand%></span></div>
        </li>
    <%}%>
    </ul>
<ul class="rank_col flex_strenth" style="margin-left: 60px;">
    <li class="rank_title">单品销售额排行</li>
    <%for(var h=0;h<singleBrandSale.length;h++){
        className = '';
        switch(h){
            case 0:
            className = 'first_no';
            break;
            case 1:
            className = 'second_no';
            break;
            case 2:
            className = 'third_no';
            break;
            default:
            className = '';
        }
    %>
    <li><span class="no <%=className%>"><%if(!className){%><%=h+1%><%}%></span>
        <div class="goods_name"><span><%=singleBrandSale[h].goods_name%></span></div>
    </li>
    <%}%>
</ul>