* {
    padding: 0px;
    margin: 0px;
}

ul {
    margin: 20px 0px;
    list-style: none;
}

li {
    padding-left: 15px;
    line-height: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid grey;
    margin-top: 2px;
}

li:hover {
    background: #333;
    color: #fff;
}

li button {
    display: none;
    float: right;
    margin-top: 5px;
}

li a {
    float: right;
}

li:hover button {
    display: inline-block;
}

button{
    margin:5px;
    padding:5px;
}