* {
    padding: 0px;
    margin: 0px;
}

.dy-list {
    margin: 20px 0px;
    list-style: none;
}

.dy-list li {
    padding-left: 15px;
    line-height: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid grey;
    margin-top: 2px;
}

.dy-list li:hover {
    background: #333;
    color: #fff;
}

.dy-list li button {
    display: none;
    float: right;
    margin-top: 5px;
}

.dy-list li a {
    float: right;
}

.dy-list li:hover button {
    display: inline-block;
}

button{
    margin:5px;
    padding:5px;
}

.chunk{
    display: block;
    overflow: hidden;
    margin: 5px ;
    margin-top: 10px ;
}