<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>海外商品一站式全球分销平台:更专业的跨境电商服务平台</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="stylesheets/common.css">
	<link rel="stylesheet" href="stylesheets/list_index.css">
</head>
<body>
	<header class="common-header">
		<div class="top_bar">
			<div class="common_w1220">
				<div class="fl">欢迎您！<a href="#" class="login">请登录</a><a href="#">免费注册</a></div>
				<div class="fr">
					<ul class="top-tool">
						<li><span>全球热线：4008-518-500</span></li>
						<li>
							<div class="ico_arr_wrap">
								<a href="#">分销商后台<i class="ico_arr"></i></a>
							</div>
						</li>
						<li>
							<div class="ico_arr_wrap">
								<a href="#">供应商后台<i class="ico_arr"></i></a>
							</div>
						</li>
						<li>
							<div class="my_message">
								<i class="ico"></i><a href="#">我的消息</a>
							</div>
						</li>
						<li>
							<div class="v_mobile">
								<i class="ico"></i><a href="#">移动版</a>
							</div>
						</li>
						<li class="ico_arr_wrap">
							<div class="ico_arr_wrap">
								<a href="#">关注跨境翼</a><i class="ico_arr"></i>
							</div>
						</li>
						<li><a href="#">技术支持</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="common_head_logo">
			<div class="common_w1220">
				<div class="fl">
					<div class="logo_wrap">
						<div class="logo"></div>
						<p>进口货源<span class="space12"></span>一件代发</p>
					</div>
				</div>
				<div class="fl">
					<div class="search_tool_wrap">
						<div class="search_wrap">
							<input type="text" class="fl" placeholder="产品名称或条码号">
							<button class="index_search_button fl"><i></i></button>
							<div class="byctx fl">
								<span>爱他美</span>
								<span>牛栏</span>
								<span>花王</span>
								<span>贝拉米</span>
								<span>玛卡</span>
								<span>左旋肉碱</span>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="fr">
					<div class="common_head_right_item"><i class="item_a"></i>零成本</div>
					<div class="common_head_right_item"><i class="item_b"></i>零库存</div>
					<div class="common_head_right_item"><i class="item_c"></i>零风险</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</header>
    <div style="height: 2000px;"></div>
	<footer>
		<div class="footer_top">
			<div class="common_w1220">
				<div class="col-1-4">
					<div class="footericon footericon-1">
						<div class="footericon_wrap">
							<h3>100%正品</h3>
							<p>全球精选 正品保障</p>
						</div>
					</div>
				</div>
				<div class="col-1-4">
					<div class="footericon footericon-2">
						<div class="footericon_wrap">
							<h3>100%正品</h3>
							<p>全球精选 正品保障</p>
						</div>
					</div>
				</div>
				<div class="col-1-4">
					<div class="footericon footericon-3">
						<div class="footericon_wrap">
							<h3>100%正品</h3>
							<p>全球精选 正品保障</p>
						</div>
					</div>
				</div>
				<div class="col-1-4">
					<div class="footericon footericon-4">
						<div class="footericon_wrap">
							<h3>100%正品</h3>
							<p>全球精选 正品保障</p>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="footer_mid">
			<div class="common_w1220">
				<div class="col-1-6">
					<div class="footer_mid_wrap footer_mid_wrap_text">
						<dl>
							<dt>新手指南</dt>
							<dd><a href="#">了解跨境翼</a></dd>
							<dd><a href="#">注册新用户</a></dd>
							<dd><a href="#">分销商入门</a></dd>
							<dd><a href="#">供应商入门</a></dd>
							<dd><a href="#">常见问题</a></dd>
						</dl>
					</div>
				</div>
				<div class="col-1-6">
					<div class="footer_mid_wrap footer_mid_wrap_text">
						<dl>
							<dt>跨境翼保障</dt>
							<dd><a href="#">了解跨境翼</a></dd>
							<dd><a href="#">注册新用户</a></dd>
							<dd><a href="#">分销商入门</a></dd>
							<dd><a href="#">供应商入门</a></dd>
							<dd><a href="#">常见问题</a></dd>
						</dl>
					</div>
				</div>
				<div class="col-1-6">
					<div class="footer_mid_wrap footer_mid_wrap_text">
						<dl>
							<dt>物流配送</dt>
							<dd><a href="#">配送方式</a></dd>
							<dd><a href="#">配送服务</a></dd>
							<dd><a href="#">运费标准</a></dd>
							<dd><a href="#">物流跟踪</a></dd>
							<dd><a href="#">常见问题</a></dd>
						</dl>
					</div>
				</div>
				<div class="col-1-6">
					<div class="footer_mid_wrap footer_mid_wrap_text">
						<dl>
							<dt>售后服务</dt>
							<dd><a href="#">了解跨境翼</a></dd>
							<dd><a href="#">注册新用户</a></dd>
							<dd><a href="#">分销商入门</a></dd>
							<dd><a href="#">供应商入门</a></dd>
							<dd><a href="#">常见问题</a></dd>
						</dl>
					</div>
				</div>
				<div class="col-1-6">
					<div class="footer_mid_wrap footer_mid_wrap_text">
						<dl>
							<dt>关于我们</dt>
							<dd><a href="#">了解跨境翼</a></dd>
							<dd><a href="#">注册新用户</a></dd>
							<dd><a href="#">分销商入门</a></dd>
							<dd><a href="#">供应商入门</a></dd>
							<dd><a href="#">常见问题</a></dd>
						</dl>
					</div>
				</div>
				<div class="col-1-6">
					<div class="qr_wrap">
						<div class="qr_box">
							<img src="imgs/kjy_qr.jpg" alt="">
						</div>
						<p class="font_12 green lh20">跨境翼官方微信</p>
						<p class="font_12 gray lh20">扫一扫，与我们亲密互动</p>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="footer_bot">
			<div class="common_w1220">
				<div class="fl mlf15">
					<a href="#">跨境翼公司官网</a>
					<a href="#">跨境翼供销平台</a>
					<a href="#">魔速达物流平台</a>
					<a href="#">翼飞扬供应链</a>
					<a href="#">思创技术服务</a>
				</div>
				<div class="fr">
					<span class="footer_bot_icon hotline font_12 gray">全球服务热线：4008-518-500</span>
					<span class="footer_bot_icon email font_12 gray">Email：service@kjy.com</span>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="footer_copyright">
			<div class="common_w1220 center_align">
				<div class="bot_a_wrap">
					<a href="#" class="font_12 gray">公司简介</a>
					<a href="#" class="font_12 gray">帮助中心</a>
					<a href="#" class="font_12 gray">联系我们</a>
					<a href="#" class="font_12 gray">友情链接</a>
					<a href="#" class="font_12 gray">招聘信息</a>
					<a href="#" class="font_12 gray">客户服务</a>
					<a href="#" class="font_12 gray">隐私政策</a>
					<a href="#" class="font_12 gray">网站地图</a>
				</div>
				
			</div>
			<div class="common_w1220 center_align mt15">
				<span class="font_12 gray">Copyright ©  2015-2016 跨境翼电子商务有限公司版权所有 粤ICP备15002308号-4</span>
			</div>
		</div>
	</footer>
	<div class="sidebar_right">
		<div class="sidebar_item_wrap">
			<div class="sidebar_item_md">
				<div class="sidebar_item js_cl">
					<i class="sidebar_item_icon sidebar_item_cl"></i>
				</div>
				<div class="sidebar_item js_hs"><i class="sidebar_item_icon sidebar_item_hs"></i></div>
				<div class="sidebar_item">
					<i class="sidebar_item_icon sidebar_item_cs"></i>
					<div class="slide_block">在线咨询</div>
				</div>
				<div class="sidebar_item pdtb12 bg_gray js_sc"><i class="sidebar_item_icon sidebar_item_sc"></i><span>购物车</span><em>0</em></div>
			</div>
			<div class="sidebar_item_bot">
				<div class="sidebar_item">
					<i class="sidebar_item_icon sidebar_item_qr"></i>
					<div class="qr_slide">
						<p>跨境翼扫一扫</p>
						<img src="imgs/kjy_qr.jpg" alt="">
					</div>
				</div>
				<div class="sidebar_item js_gotop">
					<i class="sidebar_item_icon sidebar_item_gt"></i>
					<div class="slide_block">返回顶部</div>
				</div>
			</div>
		</div>
        <div>
            <div class="sidebar_item_layer js_cl_layer">
                <div class="layer_head mycollect">
                    <div class="fl"><i></i>我的关注</div>
                    <div class="fr">
                        <i class="close_icon"></i>
                    </div>
                </div>
                <div class="cl_list">
                    <div class="cl_item">
                        <div class="img_box">
                            <a href="#"><img src="imgs/product_1.jpg" alt=""></a>
                            <div class="layer_bottom"></div>
                            <div class="joincart"><button>加入购物车</button></div>
                            <div class="delete_btn"></div>
                        </div>
                        <div class="price_box"><em>￥105.00</em></div>
                    </div>
                    <div class="cl_item">
                        <div class="img_box">
                            <a href="#"><img src="imgs/product_1.jpg" alt=""></a>
                            <div class="layer_bottom"></div>
                            <div class="joincart"><button>加入购物车</button></div>
                            <div class="delete_btn"></div>
                        </div>
                        <div class="price_box"><em>￥105.00</em></div>
                    </div>
                    <div class="cl_item">
                        <div class="img_box">
                            <a href="#"><img src="imgs/product_1.jpg" alt=""></a>
                            <div class="layer_bottom"></div>
                            <div class="joincart"><button>加入购物车</button></div>
                            <div class="delete_btn"></div>
                        </div>
                        <div class="price_box"><em>￥105.00</em></div>
                    </div>
                    <div class="cl_item">
                        <div class="img_box">
                            <a href="#"><img src="imgs/product_1.jpg" alt=""></a>
                            <div class="layer_bottom"></div>
                            <div class="joincart"><button>加入购物车</button></div>
                            <div class="delete_btn"></div>
                        </div>
                        <div class="price_box"><em>￥105.00</em></div>
                    </div>
                    <div class="cl_item">
                        <div class="img_box">
                            <a href="#"><img src="imgs/product_1.jpg" alt=""></a>
                            <div class="layer_bottom"></div>
                            <div class="joincart"><button>加入购物车</button></div>
                            <div class="delete_btn"></div>
                        </div>
                        <div class="price_box"><em>￥105.00</em></div>
                    </div>
                    <div class="cl_item">
                        <div class="img_box">
                            <a href="#"><img src="imgs/product_1.jpg" alt=""></a>
                            <div class="layer_bottom"></div>
                            <div class="joincart"><button>加入购物车</button></div>
                            <div class="delete_btn"></div>
                        </div>
                        <div class="price_box"><em>￥105.00</em></div>
                    </div>
                    <div class="cl_item">
                        <div class="img_box">
                            <a href="#"><img src="imgs/product_1.jpg" alt=""></a>
                            <div class="layer_bottom"></div>
                            <div class="joincart"><button>加入购物车</button></div>
                            <div class="delete_btn"></div>
                        </div>
                        <div class="price_box"><em>￥105.00</em></div>
                    </div>
                    <div class="cl_item">
                        <div class="img_box">
                            <a href="#"><img src="imgs/product_1.jpg" alt=""></a>
                            <div class="layer_bottom"></div>
                            <div class="joincart"><button>加入购物车</button></div>
                            <div class="delete_btn"></div>
                        </div>
                        <div class="price_box"><em>￥105.00</em></div>
                    </div>
                    <div class="cl_item">
                        <div class="img_box">
                            <a href="#"><img src="imgs/product_1.jpg" alt=""></a>
                            <div class="layer_bottom"></div>
                            <div class="joincart"><button>加入购物车</button></div>
                            <div class="delete_btn"></div>
                        </div>
                        <div class="price_box"><em>￥105.00</em></div>
                    </div>
                    <div class="cl_item">
                        <div class="img_box">
                            <a href="#"><img src="imgs/product_1.jpg" alt=""></a>
                            <div class="layer_bottom"></div>
                            <div class="joincart"><button>加入购物车</button></div>
                            <div class="delete_btn"></div>
                        </div>
                        <div class="price_box"><em>￥105.00</em></div>
                    </div>
                </div>
                <div class="formore"><a href="#">查看更多&gt;&gt;</a></div>
            </div>
            <div class="sidebar_item_layer js_hs_layer">
                <div class="layer_head hs">
                    <div class="fl"><i></i>我的足迹</div>
                    <div class="fr">
                        <i class="close_icon"></i>
                    </div>
                </div>
                <div class="list_head_all">
                    <span>全部商品（<em>3</em>件）</span>
                    <a href="" class="fr">清空</a>
                </div>
                <div class="hs_list">
                    <div class="hs_top"><span>今天</span></div>
                    <div class="hs_item_wrap">
                        <div class="hs_item">
                            <div class="img_box">
                                <a href="#"><img src="imgs/product_1.jpg" alt=""></a>
                                <div class="delete_btn"></div>
                            </div>
                            <div class="price_box"><em>￥105.00</em></div>
                        </div>
                        <div class="hs_item">
                            <div class="img_box">
                                <a href="#"><img src="imgs/product_1.jpg" alt=""></a>
                                <div class="delete_btn"></div>
                            </div>
                            <div class="price_box"><em>￥105.00</em></div>
                        </div>
                        <div class="hs_item">
                            <div class="img_box">
                                <a href="#"><img src="imgs/product_1.jpg" alt=""></a>
                                <div class="delete_btn"></div>
                            </div>
                            <div class="price_box"><em>￥105.00</em></div>
                        </div>
                        <div class="hs_item">
                            <div class="img_box">
                                <a href="#"><img src="imgs/product_1.jpg" alt=""></a>
                                <div class="delete_btn"></div>
                            </div>
                            <div class="price_box"><em>￥105.00</em></div>
                        </div>
                    </div>
                </div>
                <div class="hs_list">
                    <div class="hs_top"><span>一天前</span></div>
                    <div class="hs_item_wrap">
                        <div class="hs_item">
                            <div class="img_box">
                                <a href="#"><img src="imgs/product_1.jpg" alt=""></a>
                                <div class="delete_btn"></div>
                            </div>
                            <div class="price_box"><em>￥105.00</em></div>
                        </div>
                        <div class="hs_item">
                            <div class="img_box">
                                <a href="#"><img src="imgs/product_1.jpg" alt=""></a>
                                <div class="delete_btn"></div>
                            </div>
                            <div class="price_box"><em>￥105.00</em></div>
                        </div>
                        <div class="hs_item">
                            <div class="img_box">
                                <a href="#"><img src="imgs/product_1.jpg" alt=""></a>
                                <div class="delete_btn"></div>
                            </div>
                            <div class="price_box"><em>￥105.00</em></div>
                        </div>
                        <div class="hs_item">
                            <div class="img_box">
                                <a href="#"><img src="imgs/product_1.jpg" alt=""></a>
                                <div class="delete_btn"></div>
                            </div>
                            <div class="price_box"><em>￥105.00</em></div>
                        </div>
                    </div>
                </div>
                <div class="formore"><a href="#">查看更多&gt;&gt;</a></div>
            </div>
            <div class="sidebar_item_layer js_sc_layer">
                <div class="layer_head cart">
                    <div class="fl"><i></i>购物车</div>
                    <div class="fr">
                        <i class="close_icon"></i>
                    </div>
                </div>
                <div class="list_head_all">
                    <span>共&nbsp;<em>10</em>&nbsp;件商品</span>
                    <a href="" class="fr">查看全部</a>
                </div>
                <div class="cart_list">
                    <div class="cart_item"></div>
                    <div class="cart_item"></div>
                    <div class="cart_item"></div>
                    <div class="cart_item"></div>
                    <div class="cart_item"></div>
                    <div class="cart_item"></div>
                </div>
            </div>
        </div>
	</div>
</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/LAB.src.js"></script>
<script type="text/javascript" src="new/labpractice.js"></script>
<script type="text/javascript" charset="utf-8" src="new/sidebar.js"></script>
<script>
	$('.js_cl').click(function(){
		$(this).toggleClass('active').siblings().removeClass('active');
		$(".js_cl_layer").siblings().removeClass('show');
		$(".js_cl_layer").toggleClass('show')
	})
	$('.close_icon').click(function(){
		$('.sidebar_item').removeClass('active');
		$(".sidebar_item_layer").removeClass('show')
	})
	$('.js_hs').click(function(){
		$(this).toggleClass('active').siblings().removeClass('active');
		$(".js_hs_layer").siblings().removeClass('show');
		$(".js_hs_layer").toggleClass('show')
	})
	$('.js_cs').click(function(){
		$(this).toggleClass('active').siblings().removeClass('active');
		$(".js_cs_layer").siblings().removeClass('show');
		$(".js_cs_layer").toggleClass('show')
	})
	$('.js_sc').click(function(){
		$(this).toggleClass('active').siblings().removeClass('active');
		$(".js_sc_layer").siblings().removeClass('show');
		$(".js_sc_layer").toggleClass('show')
	})
</script>
</html>